.container {
    width: 100%;
    justify-content: center;
    margin: 0 0 25px 0;
    background: rgb(0 0 0 / 0.3);
}

.button i:before {
    font: normal normal normal 24px/1 FontAwesome;
}

.button {
    border: 0;
    font-size: 14px;
    padding: 10px;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: brightness(0.6);
    white-space: nowrap;
    min-width: 120px;
    background: transparent;
    color: #fff;
    flex: 1;
}

.button i {
    margin: 0 7px 0 0;
}

.active {
    filter: none;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(237 90 83 / 0.2), rgb(237 90 83 / 0.7), rgb(237 90 83 / 0.2));
    color: white;
}