.main{
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: center;
	margin: 0 0 10px 0;
	position: relative;
	overflow: hidden;
}

.main:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 3px solid #284056;
}

.time{
	width: 60px;
	white-space: nowrap;
	justify-content: center;
	color: rgba(255, 255, 255, 0.8);
	z-index: 2;
	font-size: 17px;
	letter-spacing: 1px;
}

.line{
	position: absolute;
	left: 0;
	height: 100%;
	background-color: #376fa2;
	overflow: hidden;
}