.roulette {
    width: 100%;
    position: relative;
    height: 200px;
    background-image: linear-gradient(to left, #2e363d, #39434c, #2e363d);
    margin: 50px 0;
    overflow: hidden;
}

.roulette_container{
    position: absolute;
    left: 0;
    top: 0;
}

.stop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.stop:before{
    content: "";
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(0 0 0 / 0.7), transparent);
    border-right: 1px solid #ffd300;
}

.stop:after{
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to left, rgb(0 0 0 / 0.7), transparent);
    border-left: 1px solid #ffd300;
}

.item {
    padding: 15px;
    border-radius: 4px;
    margin: 10px;
    height: 180px;
    width: 180px;
    background-color: rgb(0 0 0 / 0.3);
    border-bottom: 4px solid;
}

.img{
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 100%;
    position: relative;
}

.img_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.img_container img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.anc {
    border-color: #eb4b4b;
}

.arc {
    border-color: #ade55c;
}

.imm {
    border-color: #b28a33;
}

.leg {
    border-color: #d32ce6;
}

.myt {
    border-color: #8847ff;
}

.rar {
    border-color: #4b69ff;
}

.unc {
    border-color: #5e98d9;
}

.com {
    border-color: #b0c3d9;
}