.border {
    width: 100%;
    align-items: center;
    margin: 20px auto 0 auto;
    position: relative;
}

.border:after{
    content: "";
    flex: 1;
    background: #4b525c;
    height: 1px;
}

.headline {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 10px 0 5px;
}