.container{
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    background-color: #2c343a;
}

.headline {
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 26px;
    text-align: left;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 3px 0 35px;
    height: 40px;
    display: flex;
    align-items: center;
}

.headline:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -15px;
    height: 3px;
    width: 100%;
    max-width: 768px;
    z-index: -1;
    background-image: linear-gradient(to left, transparent, #3fb3fb 36%, #4661d8)
}

.items_columns{
    flex-wrap: wrap;
    margin: 0 -10px;
}

.item {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 15px 10px;
    border-radius: 6px;
    margin: 10px;
    width: calc(100% / 8 - 20px);
    border-bottom: 2px solid;
}

.item:before{
    content: "";
    position: absolute;
    top: calc(50% + 4px);
    left: -50px;
    transform: translate(0, -50%);
    width: 60px;
    height: 30px;
    background-color: #2c343a;
    border-radius: 0 50% 50% 0 / 0 100% 100% 0;
}

.item:after{
    content: "";
    position: absolute;
    top: calc(50% + 4px);
    right: -50px;
    transform: translate(0, -50%);
    width: 60px;
    height: 30px;
    background-color: #2c343a;
    border-radius: 50% 0 0 50% / 100% 0 0 100%;
}

.anc {
    background-image: linear-gradient(0deg, #eb4b4b, rgb(235 75 75 / 0.2));
    border-bottom-color: #842727;
}

.arc {
    background-image: linear-gradient(0deg, #ade55c, rgb(173 229 92 / 0.2));
    border-bottom-color: #5f7d32;
}

.imm {
    background-image: linear-gradient(0deg, #edaf2f, rgb(178 138 51 / 0.2));
    border-bottom-color: #564216;
}

.leg {
    background-image: linear-gradient(0deg, #d32ce6, rgb(211 44 230 / 0.2));
    border-bottom-color: #71157b;
}

.myt {
    background-image: linear-gradient(0deg, #8847ff, rgb(136 71 255 / 0.2));
    border-bottom-color: #542ba0;
}

.rar {
    background-image: linear-gradient(0deg, #4b69ff, rgb(75 105 255 / 0.2));
    border-bottom-color: #364aaf;
}

.unc {
    background-image: linear-gradient(0deg, #5e98d9, rgb(94 152 217 / 0.2));
    border-bottom-color: #375c86;
}

.com {
    background-image: linear-gradient(0deg, #b0c3d9, rgb(176 195 217 / 0.2));
    border-bottom-color: #6d7d8e;
}

.img{
    width: 100%;
    margin: 0 0 15px 0;
    padding-bottom: 100%;
    position: relative;
}

.img_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.img_container img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.title {
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    flex: 1;
    text-align: center;
    align-items: center;
}