.main{
	position: relative;
	padding: 18px 0;
	background: #15191c;

}

.container{
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	padding: 0 10px;
}

.link{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.7);
}

.link:hover{
	color: #ffffff;
}

.logotype{
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0 0 0 15px;
	color: #fff;
	width: 150px;
	text-align: center;
}

.navbar{	
    margin: 0 auto 0 30px;
}

.navbar .link:not(:first-child){
	margin: 0 0 0 20px;
}

.group{
	align-items: center;
}

.btn{
	min-width: 40px;
	color: #ffffff;
	background: linear-gradient(to bottom, #34404c, #2f3944);
	margin: 0 5px 0 0;
	font-size: 14px;
	padding: 5px 0;
}    

.btn i{
	line-height: 21px;
	margin: 0;
}

.account_link{
	margin: 0 20px 0 0;
}

.group .btn:last-child{
	color: #ffffff;
	background: linear-gradient(45deg, #258be4, #248dea);
	border-radius: 5px;
	margin: 0;
}

.button {
    padding: 5px 20px 5px;
    letter-spacing: 1.7px;
    line-height: 21px;
    color: #dde6f0;
    background: linear-gradient(to bottom, #606e79, #4f5964);
    text-transform: uppercase;
}

.mobile_btn{
	display: none;
}