.info{
    flex-direction: column;
    border-radius: 5px;
	background-color: #2c343a;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(70, 70, 70, 0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(70, 70, 70, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(70, 70, 70, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.header{
	background: #414c55;
	padding: 15px 25px;
	font-size: 15px;
	color: rgb(219, 219, 219);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.body{
	flex-direction: column;
	padding: 25px;
}

.body p{
	font-size: 15px;
	line-height: 20px;
	color: #acacac;
	margin: 10px 0;
}

.info form{
	display: flex;
	flex-direction: column;
}

.body a{
	color: cornflowerblue;
}

.body a:hover{
	text-decoration: underline;
}

.code{
	background-color: #373f46;
	padding: 15px;
	border-radius: 5px;
	margin: 8px 0;
	border: 1px solid #4b525c;
	font-family: courier, monospace;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
}

.table{
	width: 100%;
	text-align: center;
	background-color: #2c343a;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(70, 70, 70, 0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(70, 70, 70, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(70, 70, 70, 0.1);
	border-radius: 5px;
	overflow: hidden;
}

.table thead,
.table tfoot{
	background-color: #414c55;
    border: 0;
}

.table thead th,
.table tfoot td{
	padding: 10px;
	font-size: 15px;
	font-weight: 400;
	color: #ececec;
}

.table tbody{
	border: 1px solid #e3e3e3;
}

.table tbody tr td{
	padding: 10px;
	font-size: 13px;
	color: #dddee0;
}

.table tbody tr:nth-child(odd) td{
	background-color: #2c343a;
}

.table tbody tr:nth-child(even) td{
	background-color: #232a2f;
}

.show{
    padding: 2px 15px 2px;
    letter-spacing: 1.7px;
    -webkit-transition: 0.15s linear;
    line-height: 21px;
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    color: #dde6f0;
    border: 0;
    background: linear-gradient(to bottom, #606e79, #4f5964);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 0 0 0 15px;
}

.show i{
    margin: 0 5px;
}

.pagintaion{
	display: flex;
	justify-content: flex-end;
}

.pagintaion span{
	opacity: 0.5;
    cursor: pointer;
    background-color: #2c343a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    width: 24px;
    height: 24px;
	font-size: 14px;
	border-radius: 4px;
}

.pagintaion .active, .pagintaion span:hover{
	opacity: 1;
	background-color: #b7c3cc;
    color: #232a30;
}

.pagintaion .active{
	pointer-events: none;
}