.main{
	width: 100%;
	display: flex;
}

.copyright{
	flex: 1 1 auto;
	padding: 10px 15px;
	background: rgb(0 0 0 / 0.3);
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
}

.link{
	margin: 0 5px;
	color: cornflowerblue;
	font-weight: normal;
}

.link_tg{
	color: rgba(255, 255, 255, 0.5);
}

.link:hover{
	text-decoration: underline;
}

.span{
	margin: 0 0 0 auto;
}

@media (max-width: 550px) {
	.copyright{
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		line-height: 18px;
	}

	.span{
		display: none;
    }
}